.card {
  width: 310px;
  height: 600px;
  background-color: transparent;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all .4s cubic-bezier(.175, .885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, .1);

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  }

  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: $text-color;
  }

  .flip-card-back {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    color: $color-black;
    transform: rotateY(180deg);
  }
}

.movie-details {
  font-family: "Roboto Slab", serif;
  color: $text-color;
  padding: 20px;
  height: 400px;

  .feedback {
    background-color: $feedback-light-green;
    color: $feedback-green;
    border: 1px solid $feedback-border;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .details-container {
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .year {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .poster-description {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;

      .poster {
        width: 100px;
        margin-right: 10px;
      }

      .plot {
        font-size: 14px;
      }
    }

    .rating-genre {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .rating {
        font-size: 18px;
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }

      .genre {
        font-size: 14px;
      }
    }

    .details {
      line-height: 1.6;
      margin-bottom: 20px;

      .detail {
        font-size: 14px;

        strong {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }

    .add-fav-btn {
      cursor: pointer;
      background-color: $primary-color;
      color: $text-color;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
