// Variables
$primary-color: #3498db;
$secondary-color: #2c3e50;
$footer-background: #34495e;
$footer-text-color: #ecf0f1;
$body-bg-color: #212426;
$text-color: #fff;
$feedback-light-green:#dff0d8;
$feedback-green:#3c763d;
$feedback-border:#d6e9c6;
$grey:#888;
$remove-color:#e74c3c;
$feedback-hover:#c0392b;
$color-black:#000;
$hover-color:#2980b9;
$search-bg-color:#1f2123;
$search-box-shadow-start:#1c1d1f;
$search-box-shadow-end:#222527;
$input-color:#a1a1a1;
$input-bg-color:#1f2123;
$empty-color:#f9d3b4
