.movie-items {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
  
    .feedback {
      @include feedback;
    }
  
    h2 {
      text-align: center;
      color: $text-color;
    }
  
    .movie-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
  
      .movie-card {
        width: 100%;
        height: 140px;
        max-width: 300px;
        background-color: $text-color;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        margin: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
  
        .movie-img {
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
  
        .movie-details {
          padding: 10px;
  
          h3 {
            font-size: 1.2rem;
            margin-top: 0;
          }
  
          p {
            margin: 5px 0;
            font-size: 0.9rem;
            color: $grey;
          }
  
          .remove-btn {
            background-color: $remove-color;
            color: $text-color;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color .3s ease;
  
            &:hover {
              background-color: $feedback-hover;
            }
          }
        }
  
        @media screen and (max-width: 768px) {
          .movie-img {
            img {
              width: 100%;
              height: auto;
              display: block;
            }
          }
        }
      }
    }
  }
  